
@import "chrome/navbar_tabs_oneliner.css";


/***** Personally Custom *****/

/* Tab */
#titlebar {
  background-color: #1c1c1c !important;
}
/* Tool Bar */
#nav-bar {
  background-color: #1c1c1c !important;
}
/* Bookmarks Bar */
#PersonalToolbar {
  background-color: #1c1c1c !important;
}
/* hiddle url box */
#identity-icon-box {
  visibility: collapse;
}
