configuration {
	font: "MesloLGS Nerd Font 14";
        modi: "window,run,ssh,drun,combi";
        combi-modi: [drun];
	terminal: "alacritty";

        icon-theme: "Papirus-Dark";
        show-icons: true;

        // Change Control+j and Control+k to move up and down
	kb-accept-entry: "Control+m,Return,KP_Enter";
	kb-remove-to-eol: "";
        ml-row-up: "Control+k";
        ml-row-down: "Control+j";

        ml-row-up: "ScrollUp";
        ml-row-down: "ScrollDown";
}

@theme "ui_theme"
