* {
    all: unset; //Unsets everything so you can style everything from scratch
}

$color00: #080808;
$color01: #E67e80;
$color02: #87AF87;
$color03: #EBCB8B;
$color04: #81A1C1;
$color05: #FFB9DC;
$color06: #87AFAF;
$color07: #d0d0d0;
$color08: #1c1c1c;
$color09: #303030;
$color10: #444444;
$color11: #585858;
$color12: #6c6c6c;
$color13: #8a8a8a;
$color14: #a8a8a8;
$color15: #bcbcbc;

$bg: $color00;
$fg: $color07;
$scale_bg: $color09;


.bar0, .bar1, .bar, .all {
    background-color: $bg;
    color: $fg;
    font-family: MesloLGS Nerd Font;
    font-size: 1.1rem;
}


///////////////////SEPAR//////////////////
.separ {
    color: $color09;
    font-size: 14;
    margin-right: 4px;
    margin-left: 4px;
}


/////////////////////WORKSPACE////////////////////////

.workspaces {
    background-color: $bg;
    font-size: 1.3rem;
    font-weight : bold;
    padding-top: 0.1rem;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: 4px;
    margin-left: 4px;
}
.workspaces button:hover { color: $color05; }
.foc { color: $color01; }
.act { color: $color05; }
.occ { color: $fg; }
.emt { color: $color12; }
.urg { color: $fg; background-color: $color01; }




////////////////CLOCK///////////////////

.clock {
    font-size: 14;
    font-weight : bold;
    background-color: $color09;
    padding-top: 2px;
    padding-right: 10px;
    padding-left: 10px;
}


////////////////////CALENDAR//////////////////////

.calendar {
    background-color: $bg;
    color: $fg;
}


///////////////VOLUME/////////////////

.volume {
    margin-right: 6px;
    //margin-left: 4px;
    //padding-right: 4px;
    //padding-left: 4px;
}
.volume scale trough {
    all: unset;
    background-color: $scale_bg;
    border-radius: 50px;
    min-height: 7px;
    min-width: 50px;
}
.volume scale trough highlight {
    all: unset;
    background-color: $color06;
    border-radius: 10px;
}
.volume.bar {
    padding-top: 2px;
    padding-left: 2px;
}
.volume.icon {
    font-size: 18;
    padding-top: 0.1rem;
}
.volume.icon.muted { color: $color12; }
.volume.icon.unmute { color: $color06; }


////////////////////POWER//////////////////////
.power {
    //font-family: Font Awesome;
    padding-right: 6px;
    padding-left: 6px;
    margin-right: 0px;
    margin-left: 0px;
}
.power.shutdown { color: $color01; }
.power.reboot { color: $color02; }
.power.lock { color: $color03; }
.power.logout { color: $color04; }
.power.restartwm { color: $color06; }

.power.prompt.yes { color: $color12; }
.power.prompt.no { color: $color07; }


/////////////////////SYSTEM/////////////////////////
.system {
    margin-left: 8px;
}

.system scale trough {
    all: unset;
    background-color: $scale_bg;
    border-radius: 10px;
    min-height: 5px;
    min-width: 35px;
}
.system scale trough highlight {
    all: unset;
    border-radius: 10px;
}
.system.icon {
    padding-left: 0px;
}
.system.bar {
    padding-top: 2px;
    padding-right: 0px;
}

.system.cpu { color: $color01; }
.system.cpu { margin-right: 4px; }
.system.cpu scale trough highlight { background-color: $color01; }
.system.icon.cpu {
    padding-top: 2px;
    font-size: 13;
}

.system.mem { color: $color02; }
.system.mem scale trough highlight { background-color: $color02; }

.system.uptime { color: $color03; }
.system.icon.uptime {
    padding-top: 1px;
}
.system.data.uptime {
    padding-top: 2px;
    font-size: 13;
    font-weight: bold;
}



///////////////////////////UPDATE////////////////////////
.update {
    margin-right: 2px;
    margin-left: 2px;
}
.update.icon {
    font-size: 16;
    padding-top: 2px;
    padding-right: 3px;
    color: $color04;
}
.update.data {
}
