
snippet '([#"])===' "====comment====" rb
`!p snip.rv = match.group(1)`==================== $1 ====================`!p snip.rv = match.group(1)`
endsnippet

snippet '([#"])=' "=comment=" rb
`!p snip.rv = match.group(1)`===== $1 =====`!p snip.rv = match.group(1)`
endsnippet

snippet === "====comment====" b
==================== $1 ====================
endsnippet

snippet = "=comment=" b
===== $1 =====
endsnippet
