* {
  all: unset; //Unsets everything so you can style everything from scratch
}

$color00: #1C1C1C;
$color01: #E67e80;
$color02: #87AF87;
$color03: #EBCB8B;
$color04: #81A1C1;
$color05: #FFB9DC;
$color06: #87AFAF;
$color07: #BCBCBC;
$color08: #585858;
$color09: #D7AFAF;
$color10: #94C68B;
$color11: #DFA000;
$color12: #3A94C5;
$color13: #DF69BA;
$color14: #7FBBB3;
$color15: #808080;

$bg: $color00;
$fg: $color07;

.workspaces0 {
  background-color: $bg;
  //font-family: "MesloLGS Nerd Font";
  font-size: 1.2em;
  padding: 0.4rem 0 0rem 0;
}
.workspaces1 {
  background-color: $bg;
  font-size: 1.2em;
  padding: 0.4rem 0 0rem 0;
}
.workspaces0 button:hover { color: $color03; }
.workspaces1 button:hover { color: $color03; }
.foc { color: $color01; }
.act {color: $color05; }
.occ { color: $fg; }
.emt { color: $color15; }
.urg { color: $fg; background-color: $color01; }

.time {
    background-color: $bg;
    color: $fg;
}
