
@-moz-document url-prefix("https://duckduckgo.com"){
    :root{
        --custom-color: rgba(28, 28, 28, 1);
    }
    html {
        background: var(--custom-color) !important;
    }

    #header_wrapper{
        background: var(--custom-color) !important;
        box-shadow: none !important;
    }
    #web_content_wrapper{
        background: var(--custom-color) !important;
    }
    .footer {
        background: var(--custom-color) !important;
        border-top: none !important;
    }
}
