
@-moz-document url-prefix("https://duckduckgo.com"){
    html {
        background: var(--background) !important;
    }

    #header_wrapper{
        background: var(--background) !important;
        box-shadow: none !important;
    }
    #web_content_wrapper{
        background: var(--background) !important;
    }
    .footer {
        background: var(--background) !important;
        border-top: none !important;
    }
}
