
@-moz-document url-prefix("https://www.youtube.com/"){
    :root {
        --custom-color: rgba(28, 28, 28, 1);
    }
    /* Main Area */
    #page-manager.ytd-app.style-scope,
    .style-scope.ytd-page-manager,
    /* Player */
    #player-container,
    /* Search Bar */
    #container.ytd-masthead.style-scope,
    /* Left Pane */
    #sections,
    /* channel banner */
    #channel-header.style-scope,
    #tabs-inner-container.style-scope {
        background-color: var(--custom-color) !important;
    }

    /* Topic Botton */
    #chips-wrapper,
    #header.ytd-rich-grid-renderer.style-scope {
        visibility: collapse;
    }
}

