
@-moz-document url-prefix("https://www.youtube.com/"){
    html {
        background: var(--background) !important;
    }

    /* Main Area */
    #page-manager.ytd-app.style-scope,
    .style-scope.ytd-page-manager,
    /* Player */
    #player-container,
    /* Search Bar */
    #container.ytd-masthead.style-scope,
    /* channel banner */
    #channel-header.style-scope,
    #tabs-inner-container.style-scope,
    /* Left Pane */
    #sections,
    /* Mini guide bar */
    ytd-mini-guide-renderer,
    ytd-mini-guide-entry-renderer {
        background-color: var(--background) !important;
    }

    /* Topic Botton on Home Page */
    #primary #header.ytd-rich-grid-renderer {
        visibility: collapse !important;
        display: none !important;
    }
}
